*.bin
*.out
*.uvoptx*
*.uvgui*

sources/Loader/DebugConfig/*
sources/Loader/Listings/*
sources/Loader/Objects/*
sources/Device/DebugConfig/*
sources/Device/Listings/*
sources/Device/Objects/*
sources/generated/*
